<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OnlineShopDbContext1" connectionString="data source=DVC_LAMTNS\SQLEXPRESS;initial catalog=OnlineShop;persist security info=True;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OnlineShop" connectionString="data source=Z400-PC\SQLEXPRESS;initial catalog=OnlineShop;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ShopOnlineDbContext" connectionString="data source=Z400-PC\SQLEXPRESS;initial catalog=OnlineShop;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OnlineShopDbContext" connectionString="data source=Z400-PC\SQLEXPRESS;initial catalog=OnlineShop;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OnlineShopDbContext2" connectionString="data source=Z400-PC\SQLEXPRESS;initial catalog=OnlineShop;persist security info=True;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OnlineShopDbContext3" connectionString="data source=DVC_LAMTNS\SQLEXPRESS;initial catalog=OnlineShop;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DbShopContext" connectionString="data source=DVC_LAMTNS\SQLEXPRESS;initial catalog=OnlineShop;persist security info=True;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DbShopContext1" connectionString="data source=DVC_LAMTNS\SQLEXPRESS;initial catalog=OnlineShop;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=DVC_LAMTNS\SQLEXPRESS;initial catalog=OnlineShop;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=DVC_LAMTNS\SQLEXPRESS;initial catalog=OnlineShop;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model12" connectionString="data source=DVC_LAMTNS\SQLEXPRESS;initial catalog=OnlineShop;persist security info=True;user id=sa;password=1234$;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model13" connectionString="data source=DVC_LAMTNS\SQLEXPRESS;initial catalog=OnlineShop;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>