<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Models" connectionString="data source=LAB06-PC616;initial catalog=LTT;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LTTEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAB06-PC615;initial catalog=LTT;persist security info=True;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LTTEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAB06-PC615;initial catalog=LTT;user id=sa;password=1234$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1" connectionString="data source=LAB06-PC615;initial catalog=LTT;user id=sa;password=1234$;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=LAB06-PC615;initial catalog=LTT;user id=sa;password=1234$;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LTTDBContext" connectionString="data source=LAB06-PC616;initial catalog=LTT;persist security info=True;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LTTDBContext1" connectionString="data source=LAB06-PC616;initial catalog=LTT;persist security info=True;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LTTDBContext2" connectionString="data source=LAB06-PC616;initial catalog=LTT;persist security info=True;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LTTDBContext3" connectionString="data source=DESKTOP-O34Q59A\SQLTIEN;initial catalog=LTT;persist security info=True;user id=sa;password=t2909;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LTTDBContext4" connectionString="data source=DESKTOP-O34Q59A\SQLTIEN;initial catalog=LTT;persist security info=True;user id=sa;password=t2909;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LTTDBContext5" connectionString="data source=LAB06-PC616;initial catalog=LTT;persist security info=True;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LTTDBContext6" connectionString="data source=LAB06-PC616;initial catalog=LTT;persist security info=True;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LTTDBContext7" connectionString="data source=DESKTOP-O34Q59A\SQLTIEN;initial catalog=LTT;persist security info=True;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>