@model IEnumerable<LTT.Models.DataModels.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="index.html">Shop</a>
        </li>
        <li class="active">
            News
        </li>
    </ol> <!-- end breadcrumbs -->
</div>


<!-- Blog Standard -->
<section class="section-wrap blog-standard pb-50">
    <div class="container relative">
        <div class="row">

            <!-- content -->
            <div class="col-md-9 post-content mb-50">

                @foreach (var item in Model)
                {
                    <!-- standard post -->
                    <article class="entry-item">
                        <div class="entry-img">
                            <a href="blog-single.html">
                                <img src="@Html.DisplayFor(modelItem => item.Image)" alt="">
                            </a>
                        </div>

                        <div class="entry-wrap">
                            <div class="entry">
                                <h2 class="entry-title">
                                    <a href="blog-single.html">@Html.DisplayFor(modelItem => item.Description)</a>
                                </h2>

                                <div class="entry-content">
                                    <p>@Html.DisplayFor(modelItem => item.Detail)</p>

                                </div>
                            </div>
                        </div>
                    </article> <!-- end standard post -->
                }
                    <!-- gallery post -->
                    <!-- end gallery post -->
                    <!-- video post -->
                    <article class="entry-item">
                        <div class="entry-video video-wrap">
                            <iframe width="640" height="360" src="~/Assets/img/partners/video_01.mp4" allowfullscreen></iframe>
                        </div>

                        <div class="entry-wrap">
                            <div class="entry">
                                <h2 class="entry-title">
                                    <a href="blog-single.html">clean &amp; professional theme</a>
                                </h2>
                                <ul class="entry-meta">
                                    <li class="entry-date">
                                        19 July, 2015
                                    </li>
                                    <li class="entry-category">
                                        <a href="#">Fashion</a>
                                    </li>
                                    <li class="entry-author">
                                        <a href="#">Admin</a>
                                    </li>
                                    <li class="entry-comments">
                                        <a href="blog-single.html">15 Comments</a>
                                    </li>
                                </ul>
                                <div class="entry-content">
                                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amadea is a simple and elegant template with tons of features. Lorem ipsum dolor sit amet, consectetur.</p>
                                    <a href="blog-single.html" class="btn btn-md btn-light"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </article> <!-- end video post -->
                    <!-- blockquote post -->
                    <article class="entry-item">
                        <div class="entry blockquote">
                            <blockquote class="blockquote-style-1">
                                <ul class="entry-meta">
                                    <li class="entry-date">
                                        19 July, 2015
                                    </li>
                                    <li class="entry-category">
                                        <a href="#">Fashion</a>
                                    </li>
                                    <li class="entry-author">
                                        <a href="#">Admin</a>
                                    </li>
                                    <li class="entry-comments">
                                        <a href="blog-single.html">15 Comments</a>
                                    </li>
                                </ul>
                                <p>
                                    <a href="blog-single.html">"Incredible change happens in your life when you decide to take control of what you do have power over instead of craving control over what you don't."</a>
                                </p>
                                <span>– Steve Maraboli</span>
                            </blockquote>
                        </div>
                    </article> <!-- end blockquote post -->
                    <!-- text only post -->
                    <article class="entry-item">
                        <div class="entry-wrap pt-0">
                            <div class="entry">
                                <h2 class="entry-title">
                                    <a href="blog-single.html">Text blog post. Adventurous man using bicycle</a>
                                </h2>
                                <ul class="entry-meta">
                                    <li class="entry-date">
                                        19 July, 2015
                                    </li>
                                    <li class="entry-category">
                                        <a href="#">Fashion</a>
                                    </li>
                                    <li class="entry-author">
                                        <a href="#">Admin</a>
                                    </li>
                                    <li class="entry-comments">
                                        <a href="blog-single.html">15 Comments</a>
                                    </li>
                                </ul>
                                <div class="entry-content">
                                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amadea is a simple and elegant template with tons of features. Lorem ipsum dolor sit amet, consectetur.</p>
                                    <a href="blog-single.html" class="btn btn-md btn-light"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </article> <!-- end text only post -->
                    <!-- Pagination -->
                    <div class="text-center">
                        <nav class="pagination clear">
                            <a href="#"><i class="fa fa-angle-left"></i></a><span class="page-numbers current">
                                1
                            </span><a href="#">
                                2
                            </a><a href="#">
                                3
                            </a><a href="#">
                                4
                            </a><a href="#">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </nav>
                    </div>

                </div> <!-- end col -->
            <!-- Sidebar -->
            <aside class="col-md-3 sidebar">

                <!-- Search -->
                <div class="widget search">
                    <form class="relative">
                        <input type="search" class="searchbox mb-0" placeholder="Search">
                        <button type="submit" class="search-button"><i class="icon icon_search"></i></button>
                    </form>
                </div>

                <!-- Categories -->
                <div class="widget categories">
                    <h3 class="widget-title heading uppercase">Categories</h3>
                    <ul class="list-no-dividers">
                        <li>
                            <a href="#">Business</a>
                        </li>
                        <li class="active-cat">
                            <a href="#">Science</a>
                        </li>
                        <li>
                            <a href="#">Sport</a>
                        </li>
                        <li>
                            <a href="#">Politics</a>
                        </li>
                        <li>
                            <a href="#">Lifestyle</a>
                        </li>
                    </ul>
                </div>

                <!-- Recent Posts -->
                
                <!-- Twitter -->
                <div class="widget recent-tweets">
                    <h3 class="widget-title heading uppercase">Recent Tweets</h3>
                    <ul class="list-no-dividers" id="tweets" data-twitter-id="594366594521804800"></ul>
                </div>

                <!-- Tags -->
                <div class="widget tags clearfix">
                    <h3 class="widget-title heading uppercase">Tags</h3>
                    <a href="#">Multi-purpose</a>
                    <a href="#">Creative</a>
                    <a href="#">Elegant</a>
                    <a href="#">Clean</a>
                    <a href="#">Modern</a>
                    <a href="#">Responsive</a>
                    <a href="#">E-commerce</a>
                    <a href="#">WordPress</a>
                    <a href="#">Woocommerce</a>
                    <a href="#">Store</a>
                    <a href="#">Business</a>
                </div>

            </aside> <!-- end sidebar -->

        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end blog standard -->